@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 50px;
}

.loaderCard {
  background: linear-gradient(-45deg, #242424, #242424, #343434, #242424, #242424);
  background-size: 600% 600%;
  animation: loader 1.5s infinite;
}



@keyframes loader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
